*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
#form{
    max-width: 1070px;
    margin: auto;
}
.listagem{
    display: grid;
    justify-content: center;
}
thead{
    background-color: #ccc;
}
thead th{
    width: 100vh;
}
tbody{
    background-color: #ccc;
}