*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background-color: #eee;
}
#form{
    display: grid;
    max-width: 970px;
    margin: auto;
    padding-top: 10px;
    width: 40%;
    grid-template-columns: 1fr 1fr;
}
#form label{
    padding-right: 10px;
    text-align: end;
}
#form input{
    margin-bottom: 10px;
}
#form button{
    width: 50%;
    justify-items: end;
}
.listagem{
    display: grid;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin: auto;
}
.listagem h1{
    padding: 30px 0;
}
thead th{
    width: 90vw;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #ccc;
}
thead tr{
    font-size: 1.3em;
}
#t-body td{
    border: 1px solid #ccc;
    background-color: #ddd;
    border-radius: 4px;
}
.botoes{
    display: flex;
}
#btn{
    margin: 0 10px;
}
